/* Titre de la page */

.addGroupe h1 {
    margin-top: 30px;
    margin-bottom: 100px;
    text-align: center;
    font-weight: 500;
    color: #003768;
}

.addGroupe .groupeItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addGroupe .Champ {
    margin-left: 10%;
    margin-top: 15px;
    padding: 2px;
    padding-left: 35px;
    width: 80%;
    border: #003768 0.01px solid;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-color: #C3C3C3;
    background-position: 7px;
    color: #003768;
    text-align: left;
}

.addGroupe li {
    list-style-type: none;
    color: #003768;
}

.addGroupe #listeGroupes p {
    margin-top: -27px;
    margin-left: 50px;
}

.addGroupe #listeGroupes img {
    position: relative;
    left: -87.5%;
    top: -3px;
}

.addGroupe #listeGroupes input {
    z-index: 900;
}

.addGroupe button {
    color: #003768;
    background-color: #C3C3C3;
    border: #003768 1px solid;
    border-radius: 15px;
    padding: 7.5px 15px 7.5px 15px;
    margin-top: 65px;
}

.addGroupe button a {
    text-decoration: none;
    color: #003768;
}

.addGroupe button a:hover {
    text-decoration: none;
    color: #003768;
}

.addGroupe #But1 {
    margin-right: 15px;
}

.addGroupe .bouton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.couleurGroupe {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}