/* Titre de la page */

.favoris .titleFavoris {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 500;
    color: #003768;
}

.favoris .Champ {
    margin-left: 15px;
    padding: 2px;
    padding-left: 35px;
    width: 315px;
    border: #003768 0.01px solid;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-color: #C3C3C3;
    background-position: 7px;
    color: #003768;
    text-align: left;
}

.favoris #affFavoris {
    margin-bottom: 25px;
}

.favoris #listeFavoris {
    position: relative;
    list-style-type: none;
    color: #003768;  
    margin-top: 20px;
    margin-bottom: 20px;
    border: #003768 0.01px solid;
    border-radius: 15px;
    height: 30px;
}

.favoris #listeFavoris p {
    margin-top: -6%;
    margin-left: 11%;
}

.favoris #listeFavoris img {
    position: absolute;
    left: 3%;
    margin-top: 2px;
    width: 5%;
}

.favoris #listeFavoris input {
    position: relative;
    right: -90%;
}

.favoris button {
    color: #003768;
    background-color: #C3C3C3;
    border: #003768 1px solid;
    border-radius: 15px;
    padding: 7.5px 15px 7.5px 15px;
    margin-top: 10%;
}

.favoris #But1 {
    margin-left: 20%;
    margin-bottom: 10%;
    margin-right: 5%;
}

.favoris button a {
    text-decoration: none;
    color: #003768;
}

.favoris button a:hover {
    text-decoration: none;
    color: #003768;
}

.favoris #barreContact {
    width: 90%;
}

@media screen and (min-width: 450px) {

    .favoris #listeFavoris img {
        left: 6.5%;
    }
    
    .favoris .coche {
        margin-left: 15%;
    }
    
    .favoris #But1 {
        margin-left: 25%;
    }
}

@media screen and (min-width: 550px) {

    .favoris #listeFavoris img {
        left: 5.5%;
    }
    
    .favoris .coche {
        margin-left: 22.5%;
    }
    
    .favoris #But1 {
        margin-left: 30%;
    }
}

@media screen and (min-width: 650px) {

    .favoris #listeFavoris img {
        left: 5.5%;
    }
    
    .favoris .coche {
        margin-top: 1.7%;
    }
    
    .favoris #But1 {
        margin-left: 27.5%;
    }
}

@media screen and (min-width: 850px) {

    .favoris #listeFavoris img {
        left: 4%;
    }
    
    .favoris .coche {
        margin-left: 29.5%;
        margin-top: 1.25%;
    }
    
    .favoris #But1 {
        margin-left: 32.5%;
    }
}

@media screen and (min-width: 990px) {

    .favoris #listeFavoris img {
        left: 4%;
    }
    
    .favoris .coche {
        margin-left: 30%;
    }
}

@media screen and (min-width : 1200px) {

    .favoris #listeFavoris img {
        left: 2.5%;
    }
    
    .favoris .coche {
        margin-left: 39.5%;
        margin-top: 0.75%;
    }
    
    .favoris #But1 {
        margin-left: 40%;
    }
}

@media screen and (min-width : 1400px) {

    .favoris #listeFavoris img {
        left: 2%;
    }
    
    .favoris .coche {
        margin-left: 42%;
    }
}