.home {
    width: 100%;
}

/* Titre de la page */
.home .titleContact {
    margin-top: 7.5%;
    margin-bottom: 5%;
    text-align: center;
    font-weight: 500;
    color: #003768;
}

/* Barre de recherche */
.home #barreRecherche {
    display: inline;
    height: 30px;
    width: 72%;
    margin-top: 5%;
    padding-left: 10%;
    margin-left: 4%;
    border: none;
    border-radius: 15px;
    background-image: url(Images/Loupe.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    background-color: #efefef;
    color: #003768;
    font-size: 14px;
    font-weight: 500;
}

/* Ajout d'un contact */
.home #AddContact {
    position: relative;
    top: 5px;
    display: inline; 
    margin-left: 1%; 
    width: 30px;
    background-color: #C3C3C3;
    background-image: url(Images/Plus.svg);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 0;
    border: none;    
}

/* Paramètres */
.home #Parametres {
    position: relative;
    top: 5px;
    display: inline; 
    margin-left: 1%; 
    width: 10%;
    background-color: #C3C3C3;
    background-image: url(Images/ThreeDotsVertical.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 0;
    border: none;    
}

/* Boutons de tri */
.sort-button {
    display: block;
    margin: 10px;
    width: 95%;
    padding: 10px;
    border-radius: 25px;
    background-color: #C3C3C3;
    border: none;
    /* border: 1px solid #003768; */
    color: #003768;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

.sort-button:hover {
    background-color: #003768;
    color: white;
}

/* Boutons Favoris, Groupes, Doublons */
.home .Champ {
    margin-left: 15px;
    padding: 2px;
    padding-left: 35px;
    width: 89%;
    border: #003768 0.01px solid;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-color: #C3C3C3;
    background-position: 7px;
    color: #003768;
    text-align: left;
}

/* Icône de suppression */
.clear-icon {
    position: absolute;
    right: 28%;
    top: 14.1%;
    cursor: pointer;
    color: #003768;
}

.home #Favoris {
    margin-bottom: 10px;
    background-image: url(Images/StarFill.svg);
    background-size: 18px;
}

.home #Groupes {
    background-image: url(Images/Groups.svg);
    background-size: 18px;
    margin-bottom: 0;
}

.home #Doublons {
    background-image: url(Images/Doublons.svg);
    background-size: 20px;
    margin-bottom: 0;
}

.home li {
    list-style-type: none;
    color: #003768;
    height: 40px;
}

.home #listeContact p {
    position: relative;
    margin-top: -27px;
    margin-left: 50px;
}

.home #listeContact img {
    position: relative;
    right: 87%;
    top: -3px;
    width: 4.5%;
}

.home #listeContact input {
    margin-left: 15px;
    padding: 2px;
    padding-left: 35px;
    width: 89%;
    border: #003768 0.01px solid;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-color: #C3C3C3;
    background-position: 7px;
    color: #003768;
    text-align: left;

    z-index: 900;
}


@media screen and (min-width: 450px) {

    /* Barre de recherche */
    .home #barreRecherche {
        width: 74.5%;
    }

    /* Boutons Favoris, Groupes, Doublons */
    .home .Champ {
        width: 91%;
    }

    .home #listeContact img {
        left: -90%;
        width: 3.5%;
    }

    .home #listeContact input {
        width: 91%;
    }
}

@media screen and (min-width: 550px) {

    /* Barre de recherche */
    .home #barreRecherche {
        width: 76.5%;
    }

    /* Boutons Favoris, Groupes, Doublons */
    .home .Champ {
        width: 91%;
    }

    .home #listeContact img {
        top: -4px;
        left: -90%;
        width: 3.5%;
    }

    .home #listeContact p {
        top: 0;
    }

    .home #listeContact input {
        width: 91%;
    }
}

@media screen and (min-width : 576px) {

    /* Barre de recherche */
    .home #barreRecherche {
        width: 76.5%;
        margin-left: 3%;
    }
}

@media screen and (min-width: 700px) {

    /* Barre de recherche */
    .home #barreRecherche {
        padding-left: 7%;
    }

    .home #listeContact img {
        right: 90%;
    }

    .home #listeContact input {
        width: 91%;
    }
}

@media screen and (min-width: 768px) {

    /* Barre de recherche */
    .home #barreRecherche {
        padding-left: 5%;
    }

    .home #listeContact img {
        width: 2.5%;
    }
}

@media screen and (min-width: 992px) {

    .home #listeContact img {
        width: 2%;
        left: -90.5%;
    }
}

@media screen and (min-width : 1200px) {

    /* Barre de recherche */
    .home #barreRecherche {
        width: 82.7%;
        margin-left: 1.8%;
        padding-left: 4%;
    }

    .home #listeContact img {
        right: 90.4%;
        width: 1.5%;
    }

    .home #listeContact input {
        width: 91%;
    }
}